<header>
	<div class="fixed-headaer">
		<div class="top-section py-2">
			<ul class="nav1 w-100 no-style">
				<li class="logo-li" style="margin-left: -30px; margin-right: 20px;">
					<img src="assets/imgs/fakery-logo-fake.png" class="logo-img" alt="logo" routerLink="/home">
				</li>
				<div class="row-flex toggle-icons">
					<li class="mr-2">
						<a class="row-start no-style basic-clr nav1-links cursor-pointer">
							<img src="assets/imgs/headphone.png" class="height30" alt="icon">
							<div class="col-center px-2">
								<span class="support8">We are glad to be here for you.</span>
								<span class="primary12">+12 12 234 57 78</span>
							</div>
						</a>
					</li>
					<li class="mr-2" *ngIf="this.storageService.getCookie('isLogin')">
						<a class="row-start no-style basic-clr nav1-links cursor-pointer" [routerLink]="['/auth/profile']">
							<img src="assets/imgs/user.png" class="height30" alt="icon">
							<div class="col-center cursor-pointer">
								<div class="col-center px-2">
									<span class="primary12 user-name-text">Hello</span>
									<span class="primary12">{{ this.storageService.user() }}</span>
								</div>
							</div>
						</a>
					</li>
				</div>
			</ul>
		</div>
		<div class="nav-section">
			<ul class="w-100 nav-main no-style nav justify-content-between">
				<div class="nav-main">
					<li *ngFor="let menu of menuHeaders; let i = index">						
						<a  style="color: white; cursor: pointer;" class="no-style nav-main-link text-uppercase ml-xl-3 ml-2 w100" [routerLinkActive]="'active'"
							>{{menuHeaders[i]}}
                        </a>
					</li>
				</div>

				<!-- search bar -->
				<li *ngIf="this.storageService.getCookie('isLogin')">
					<div class="searchbar position-relative">
						<input placeholder="Search" id="typeahead-focus1" type="text"
							(focusout)="dropClose()" (focus)="showDrop = true" autocomplete="off" class="search-input"
							[(ngModel)]="model" (ngModelChange)="searchP(model)" />
						<a class="search-btn" i-bs name="search" height="17px" width="17px"></a>
					</div>
					<div *ngIf="searchOutput && showDrop" class="search-wrapper">
						<div *ngFor="let data of searchOutput">
							<a [routerLink]="['/home/product/', data.id]" (click)="refreshRoute()"
								class="d-flex align-items-center gray-link">
								<div>
									<img *ngIf="data.thumbnail == null" class="product-img" src="assets/imgs/no_preview.png"
										alt="">
									<img src="{{data.thumbnail}}" class="product-img" alt="">
								</div>
								<div class="col-start pl-3">
									<span class="proname">{{data.title}}</span>
								</div>
							</a>
						</div>
						<div *ngIf="!searchOutput.length" class="text-center">No records found</div>
					</div>
				</li>
            </ul>

			<!-- logout-button -->
			<div *ngIf="this.storageService.getCookie('isLogin')" (click)="logout()" data-toggle="tooltip" data-placement="bottom" title="LOGOUT"
				class="cursor-pointer text-white logout-icon d-flex justify-content-center align-items-center nav-item">
				<i class="fa-solid fa-right-from-bracket fa-2xl"></i>
			</div>
		</div>
    </div>
</header>


