.open-account {
    font-size: 35px;
}

.font17 {
    font-size: 17px;
    color: var(--form-label);
}

.font14 {
    color: var(--form-label);
}

h2.font17::after {
    content: "";
    background: var(--icon-color);
    width: 97%;
    height: 1.2px;
    position: absolute;
    left: 12px;
    bottom: 0px;
}

.regular-radio {
    display: none;
}

.regular-radio:checked+label:before {
    background-color: var(--gray-dark-color);
}

.regular-radio:focus+label:before {
    background-color: var(--gray-dark-color);
}

.regular-radio+label:before {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50em;
    top: 0px;
    left: -7px;
    position: relative;
    background-color: var(--white-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--gray-dark-color);
}

#dropdownBasic1 {
    text-align: left;
    background-color: var(--white-color);
}

#dropdownBasic1.dropdown-toggle::after {
    display: inline-block;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    right: 20px;
    top: 25px;
}

.radio-lable {
    vertical-align: middle;
    display: inline;
    padding-left: 2.5rem;
}

.bg-white {
    background-color: var(--white-color) !important;
}

.form-checkbox {
    height: 18px;
    width: 18px;
    vertical-align: text-bottom;
    margin-right: 16px;
    border: 1px solid var(--gray-dark-color);
}

.form-input {
    color: var(--gray-dark-color);
    background-color: var(--background-light);
    border: 1px solid var(--gray-background);
    border-radius: 3px;
    letter-spacing: 0px;
    font-family: LatoRegular;
    font-size: 13px;
    width: 100%;
}

input[type=checkbox]:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}

.form-input:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}

.btn-register {
    background-color: var(--primary-color);
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border: none;
    width: 200px;
    cursor: pointer !important;

    a.no-style {
        list-style: none;
        text-decoration: none;
        color: var(--white-color);
    }
}

.btn-register-load {
    background-color: rgb(248, 187, 187);
}


@media (max-width:480px) {
    .btn-register {
        width: 100%;
    }
}

