<div class="container-fluid x-scroll-disabled">
    <h2 class="bestProd">
        <span class="bestprod-text">PRODUCT</span>
    </h2>
    <div class="row px6">
        <div class="col-xl-3 col-lg-4 col-md-6 px6 pb13" *ngFor="let product of products">
            <a class="link-style-none" style="cursor: pointer;" [routerLink]="['/home/product/', product.id]">
                <div class="product-card h-100 bdr1">
                    <div class="product-title">
                        <span class="product-name">{{product.title}}</span>
                    </div>
                    <div>
                        <img *ngIf="!product?.thumbnail" class="product-img" src="assets/imgs/no_preview.png" alt="">
                        <img class="product-img" src="{{ product?.thumbnail }}" alt="">
                    </div>
                    <div class="price-bottom-right">
                        <span class="primary-color lator font20">$
                            <ng-container>
                                <span class="latob font35">
                                    <span class="font20">{{product.price}}</span>
                                </span>
                            </ng-container>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="col-md-12 p-3 mb-md-5 text-center">
            <button *ngIf="this.authService.isLoggedInUser() === true && show < productList.length"
                (click)="showMoreItems()" class="btn-moreshows my-md-5 my-3">
                MEHR ANZEIGEN
            </button>
        </div> -->
    </div>
</div>