<footer class="x-scroll-disabled">
    <div class="footer-main px140">
        <div class="footer-label mx-0 row">
            <div class="col-lg-3 col-md-6 font18 col-12"><span class="primary-color mr-1">+</span>Free Personalization
            </div>
            <div class="col-lg-3 col-md-6 font18 col-12"><span class="primary-color mr-1">+</span> Exclusive for
                customers </div>
            <div class="col-lg-3 col-md-6 font18 col-12"><span class="primary-color mr-1">+</span> Purchase on invoice
            </div>
            <div class="col-lg-3 col-md-6 font18 col-12"><span class="primary-color mr-1">+</span> Free delivery from $
                350 </div>
        </div>
    </div>
    <div class="footer-gray bdr-btm px140">
        <div class="row mx-0">
            <div class="col-xl-4">
                <img src="assets/imgs/fakery-logo-fake.png" width="169px" alt="logo-img" class="pt-md-4 pt-2">
                <p class="latoblack basic-clr font16 pt-2">
                    We strengthen your branding through personalization. We know how important it is to offer high
                    quality products at a fair price. However, we believe that every product company can stand out with
                    strong branding <br> – <span class="primary-color">your business too!</span>
                </p>
            </div>
            <div class="col-lg-3 col-xl-2 col-md-6">
                <h5 class="latob basic-clr pt-md-4 pt-2 pb-2">Services</h5>
                <ul>
                    <li class="font14 latob list-item">
                        Visualization
                    </li>
                    <li class="font14 latob list-item">
                        Personalization
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-xl-2 col-md-6">
                <h5 class="latob basic-clr pt-md-4 pt-2 pb-2">Useful links</h5>
                <ul>
                    <li class="font14 latob list-item">
                        Contact
                    </li>
                    <li class="font14 latob list-item">
                        FAQs
                    </li>
                    <li class="font14 latob list-item" routerLink="/auth/sign-up">
                        Create Account
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-xl-2 col-md-6">
                <h5 class="latob basic-clr pt-md-4 pt-2 pb-2">About Us</h5>
                <ul>
                    <li class="font14 latob list-item">
                        The Difference
                    </li>
                    <li class="font14 latob list-item">
                        The Promise
                    </li>
                    <li class="font14 latob list-item">
                        About the company
                    </li>
                    <li class="font14 latob list-item">
                        Jobs at <span class="flob font14">Fakery</span>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 px-0">
                <div class="pt-4 d-flex align-items-center">
                    <div class="contact-info-img">
                        <img src="assets/imgs/fingerprint.png" height="45px" alt="">
                    </div>
                    <div class="contact-number-info">
                        <span class="contact-number-info-text font21">With your logo</span>
                        <span class="contact-number-info-detail">Personalize</span>
                    </div>
                </div>
                <div class="pt-4 d-flex align-items-center">
                    <div class="contact-info-img">
                        <img src="assets/imgs/headphone.png" height="45px" alt="">
                    </div>
                    <div class="contact-number-info">
                        <span class="contact-number-info-text font21">On site</span>
                        <span class="contact-number-info-detail">Support 24*7</span>
                    </div>
                </div>
                <div class="py-4 d-flex align-items-center">
                    <div class="contact-info-img">
                        <img src="assets/imgs/catalog.png" height="45px" alt="">
                    </div>
                    <div class="contact-number-info">
                        <span class="contact-number-info-text font21">Best</span>
                        <span class="contact-number-info-detail">Value for money</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-gray row px140 footer-bottom">
        <div class="col-md-8 col-8 pt-1 d-flex align-items-center">
            <span class="lator font13 basic-clr footer-address">© <span class="flob">Fakery</span> Lorem Ipsum is simply
                dummy text of the printing and typesetting industry.</span>
        </div>
        <div class="col-md-4 col-4 pt-1 justify-content-end d-flex align-items-center">
            <div class="row text-xl-right footer-social-link">
                <span class="d-inline primary-color">
                    <a target="_" href="{{socialIconLink.whatsapp}}">
                        <i class="fa-brands fa-whatsapp mr-3 primary-color" height="17" width="17" name="whatsapp"></i>
                    </a>
                    <a target="_" href="{{socialIconLink.linkedin}}">
                        <i class="fa-brands fa-linkedin mr-3 primary-color" height="17" width="17" name="linkedin"></i>
                    </a>
                    <a target="_" href="{{socialIconLink.instagram}}">
                        <i class="fa-brands fa-instagram mr-3 primary-color" height="17" width="17"
                            name="instagram"></i>
                    </a>
                    <a target="_" href="{{socialIconLink.youtube}}">
                        <i class="fa-brands fa-youtube mr-3 primary-color" height="17" width="17" name="youtube"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>