<div class="container-fluid x-scroll-disabled px-0">
    <div class="flex-row">
        <div class="container-fluid pb-5 px75 latob" style="max-width: 1300px;">
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <h2 class="pt-md-5 pt-3 basic-color font24 lator w-100">Forgot password</h2>
                </div>
            </div>

            <form *ngIf="!validUser" [formGroup]="verifyEmailForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-10">
                        <h2 class="font17 latob pt-4 pb-2">
                            Verify your email
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-8">
                        <h3 class="font14 pt-3">Email</h3>
                        <div>
                            <input class=" p-3 form-input" type="email" formControlName="email" placeholder="Verify your email">
                        </div>
                        <div *ngIf="getControl['email'].touched && getControl['email'].errors"
                            class="text-danger">
                            <div *ngIf="getControl['email'].errors?.['required']">E-Mail is required</div>
                            <div *ngIf="getControl['email'].errors?.['email']">E-Mail is invalid</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-4">
                        <button id="save" class="btn-save p-3" type="submit" style="margin-top: 40px;">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Update password -->
            <form *ngIf="validUser" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-10">
                        <h2 class="font17 latob pt-4 pb-2">
                            Change password
                        </h2>
                    </div>
                </div>

                <div class="row change-pass-form">
                    <div class="col-md-4 col-4 change-pass-form-field">
                        <h3 class="font14 latob pt-3">New password:</h3>
                        <div>
                            <input class="p-3 form-input" formControlName="newpassword" placeholder="New password"
                                type="password" required>
                        </div>
                        <div
                            *ngIf="getChangePassControl['newpassword'].touched && getChangePassControl['newpassword'].errors">
                            <div *ngIf="getChangePassControl['newpassword'].errors['required']"
                                class="text text-danger">New password is required</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-4 change-pass-form-field">
                        <h3 class="font14 latob pt-3">Confirm password:</h3>
                        <div>
                            <input class="p-3 form-input" formControlName="confirmPassword"
                                placeholder="Confirm new password" type="password" required>
                        </div>
                        <div *ngIf="getChangePassControl['confirmPassword'].touched && getChangePassControl['confirmPassword'].errors"
                            class="text-danger">
                            <div *ngIf="getChangePassControl['confirmPassword'].errors?.['required']">Confirm password
                                is
                                required</div>
                            <div *ngIf="getChangePassControl['confirmPassword'].errors?.['matching']"> Confirm password
                                does
                                not match</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 p-3 text-left">
                        <button class="btn-changepassword" [ngClass]="loading ? 'btn-save-load': ''"
                            [disabled]="loading"><i class="fa" [ngClass]="{'fa-spin fa-spinner': loading}"></i>
                            Update password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>