// Global Font Face
@font-face {
  font-family: MontserratBold;
  src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: FlobOut;
  src: url(assets/fonts/FlobOutaBork.otf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: OswaldSemibold;
  src: url(assets/fonts/Oswald/Oswald-SemiBold.ttf);
}

@font-face {
  font-family: LatoBlack;
  src: url(assets/fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: LatoBold;
  src: url(assets/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: LatoRegular;
  src: url(assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: OpensansBold;
  src: url(assets/fonts/Opensans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Opensans;
  src: url(assets/fonts/Opensans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpensansSemi;
  src: url(assets/fonts/opensans/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: OpensansLight;
  src: url(assets/fonts/Opensans/OpenSans-Light.ttf);
}

@font-face {
  font-family: "varela", sans-serif;
  src: url(assets/fonts/VarelaRound-Regular.ttf);
}

// Global Color Variables
:root {
  --primary-color: #b01117;
  --border-red: #8e1015;
  --font-basic-color: #292929;
  --font-basic-color2: #282828;
  --color-light-black: #444444;
  --border-dark: #383838;
  --white-color: #ffffff;
  --gray-light: #585858;
  --gray-light2: #555555;
  --gray-color: #dddddd;
  --gray-dark-color: #808080;
  --gray-border: #707070;
  --gray-background: #e8e8e8;
  --gray-backgroud-light: #fbfbfb;
  --footer-color: #626262;
  --sidemenu-color: #727f92;
  --logout-btn-color: #c1c1c1;
  --black-1c: #1c1c1c;
  --icon-color: #f2f2f2;
  --form-label: #333333;
  --background-light: #f5f5f5;
  --background-xlight: #f7f7f7;
  --gray-text: #777777;
  --orange: #f77e16;
  --green: #07a007;
  --green2: #11c102;
  --red: #fc0302;
}

ol,
ul,
dl {
  margin-top: 0 !important;
  margin-bottom: 0rem !important;
}

.text-danger {
  position: absolute !important;
  font-size: 12px !important;
  font-family: 'LatoRegular' !important;
}

// Global css
.flex-row {
  display: flex;
  flex-direction: row;
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.x-scroll-disabled {
  overflow-x: hidden;
}

.color-white {
  color: var(--white-color);
}

.primary-color {
  color: var(--primary-color);
}

.gray-dark-color {
  color: var(--gray-dark-color);
}

.gray-border {
  color: var(--gray-border);
}

.icon-color {
  color: var(--icon-color);
}

.basic-clr {
  color: var(--font-basic-color);
}

.op05 {
  opacity: 0.5;
  pointer-events: none;
}

.box-wraper:hover .box.op05 {
  border-color: var(--gray-border) !important;
}

// font family class
.lator {
  font-family: LatoRegular;
}

.latob {
  font-family: LatoBold;
}

.latoblack {
  font-family: LatoBlack;
}

// font sizes

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  // font-size:15px;
  font-size: clamp(0.7rem, 1vw, 0.9375rem);
}

.font18 {
  font-size: clamp(0.8rem, 1vw, 1.125rem);
}

.font19 {
  font-size: clamp(1.85rem, 1.1vw, 1.188rem);
}

.font20 {
  font-size: clamp(1rem, 1.2vw, 1.25rem);
}

.font21 {
  font-size: clamp(1.12rem, 1.5vw, 1.3125rem);
}

.font22 {
  font-size: clamp(1.2rem, 1.5vw, 1.375rem);
}

.font23 {
  font-size: clamp(0.92rem, 1.5vw, 1.4375rem);
}

.font24 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.font25 {
  font-size: clamp(1.3rem, 1.5vw, 1.5625rem);
}

.font28 {
  font-size: clamp(1.15rem, 1.5vw, 1.75rem);
}

.font29 {
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
}

.font30 {
  font-size: clamp(1.4rem, 1.5vw, 1.875rem);
}

.font32 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.font-35 {
  font-size: clamp(1.8rem, 1.5vw, 2.1875rem);
}

h2.font24 {
  font-size: 24px;
}

.black {
  color: black;
}

.flob {
  font-family: FlobOut;
  pointer-events: auto !important;
}

.no-style {
  list-style: none;
  border: none;
  text-decoration: none !important;
}

.link-style-none {
  text-decoration: none;
  color: unset;
}

.link-style-none:hover {
  text-decoration: none;
  color: unset;
}

.row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.f-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.bdr-btm-primary {
  border-bottom: 1px solid var(--primary-color);
}

.bdr-left {
  border-left: 1px solid var(--gray-border);
}

.bdr-btm {
  border-bottom: 1px solid var(--gray-border);
}

.px75 {
  width: 100%;
  padding-left: 75px;
  padding-right: 75px;
}

.btn:focus {
  box-shadow: none;
}

// .modal-open .modal{
//     background-color: white;
//     // .modal-content{
//     //     border: none;
//     // }
// }

.cursor-pointer {
  cursor: pointer;
}

.px140 {
  padding-left: 100px;
  padding-right: 100px;
}

.pl140 {
  padding-left: 100px !important;
}

.pr140 {
  padding-right: 100px !important;
}

.user-select-none {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.zoomin-out {
  animation-name: zoomin-out;
  animation-duration: 2s;
}

.zoom {
  transform: scale(1.5) !important;
  -webkit-transform: scale(1.5) !important;
  -ms-transform: scale(1.5) !important;
  transition: 0.5s;
}

.rotate {
  -webkit-animation: rotate 1s normal linear;
  animation: rotate 1s normal linear;
}

pre {
  overflow: unset;
  white-space: normal;
  font-family: LatoRegular;
  font-size: 18px;
  color: var(--gray-border);
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }

  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes zoomin-out {
  25% {
    width: 25px;
    height: 25px;
    top: 5px;
  }

  50% {
    width: 15px;
    height: 15px;
    top: 0px;
  }

  75% {
    width: 25px;
    height: 25px;
    top: 5px;
  }

  100% {
    width: 15px;
    height: 15px;
    top: 0px;
  }
}

// Alert Service CSS
#toast-container>.toast-info {
  background-color: var(--primary-color);
  top: 112px !important;
  right: -15px !important;
}

#toast-container>.toast-success {
  background-color: var(--gray-dark-color);
  top: 112px !important;
  width: 325px !important;
  right: -15px !important;
}

#toast-container>.toast-error {
  background-color: var(--primary-color);
  top: 112px !important;
  right: -15px !important;
}

.progress-bar {
  background-color: #B01117 !important;
  border-radius: 10px !important;
  color: #B01117 !important;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 920px;
  }
}

@media screen and (min-width: 1500px) {
  .pr49.px140 {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1800px) {
  .px75 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mt-md-5 {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 1500px) {
  .px140 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pl140 {
    padding-left: 30px !important;
  }

  .pr140 {
    padding-right: 30px !important;
  }
}

@media screen and (max-width: 1024px) {
  .px140 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pl140 {
    padding-left: 10px !important;
  }

  .pr140 {
    padding-right: 10px !important;
  }
}

@media (max-width: 991px) {
  .flex-row {
    display: flex;
    flex-direction: column !important;
  }

  .bdr-left {
    border-left: none;
  }
}

button:focus {outline:0 !important;}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';